.button-filter{
    width: 8rem;
    border: none;
    border-radius: 5px;
    background-color: #37B7C3;
    color: white;
    font-size: larger;
    padding: 4px;
    font-weight: 500;
    margin-top: 0.5rem;
}